<!DOCTYPE html>
<html>
  <head>
    <title>Node.js Web App</title>
  </head>
  <body>
    <h1>Welcome to my Node.js Web App!</h1>
    <form action="/" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="phone">Phone number:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
